<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!-- jaaa -->
<h1>Hej test <span th:text="${request.getRemoteAddr()}"></span> </h1>
<input type="button" onclick="window.open('/jenkins');" value="Jenkins" />
<input type="button" onclick="window.open('https://docs.google.com/document/d/16tWeUCOBZn46XIFnbUSci2KZZZL2UCTqUh4NtKbsjrk/edit?pli=1#');" value="Jon's Docker" />
<input type="button" onclick="window.open('https://docs.google.com/document/d/1UlreiXQddZo9e-KJeZhLEmR2PTfILXNDsZtgTixT32Y/edit#');" value="Jon's Jenkins" />
</body>
</html>